In [1]:
import pandas as pd 

df = pd.read_csv('Camera.csv')
df

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,Agfa ePhoto 1280,1997,1024.0,640.0,0,38.0,114,70,40.0,4.0,420.0,95.0,179
1,Agfa ePhoto 1680,1998,1280.0,640.0,1,38.0,114,50,0.0,4.0,420.0,158.0,179
2,Agfa ePhoto CL18,2000,640.0,NaN,0,45.0,45,0,0.0,2.0,NaN,NaN,179
3,Agfa ePhoto CL30,1999,1152.0,640.0,0,35.0,35,0,0.0,4.0,NaN,NaN,269
4,Agfa ePhoto CL30 Clik!,1999,1152.0,640.0,0,43.0,43,50,0.0,40.0,300.0,128.0,1299
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,Toshiba PDR-M65,2001,2048.0,1024.0,3,38.0,114,10,10.0,8.0,320.0,120.0,62
1034,Toshiba PDR-M70,2000,2048.0,1024.0,3,35.0,105,80,9.0,16.0,390.0,116.0,62
1035,Toshiba PDR-M71,2001,2048.0,1024.0,3,35.0,98,80,10.0,8.0,340.0,107.0,62
1036,Toshiba PDR-M81,2001,2400.0,1200.0,3,35.0,98,80,10.0,16.0,340.0,107.0,62
1037,Toshiba PDR-T10,2002,1600.0,800.0,1,38.0,38,40,20.0,8.0,180.0,86.0,129

In [2]:
(df.isnull().sum()/len(df))* 100

Model                       0.000000
Release date                0.000000
Max resolution              0.096339
Low resolution              5.202312
Effective pixels            0.000000
Zoom wide (W)               8.188825
Zoom tele (T)               0.000000
Normal focus range          0.000000
Macro focus range           0.096339
Storage included           12.042389
Weight (inc. batteries)     2.215800
Dimensions                  1.541426
Price                       0.000000
dtype: float64

In [3]:
df.describe()

,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
count,1038.000000,1037.000000,984.000000,1038.000000,953.000000,1038.000000,1038.000000,1037.000000,913.000000,1015.000000,1022.000000,1038.000000
mean,2003.590559,2477.058824,1871.286585,4.596339,35.903463,121.525048,44.145472,7.787850,19.798467,325.870936,106.806751,457.384393
std,2.724755,755.976743,738.892348,2.844044,3.261553,93.455422,24.141959,8.100081,28.424548,258.965633,21.034371,760.452918
min,1994.000000,512.000000,320.000000,0.000000,23.000000,0.000000,0.000000,0.000000,1.000000,100.000000,30.000000,14.000000
25%,2002.000000,2048.000000,1280.000000,3.000000,35.000000,96.000000,30.000000,3.000000,8.000000,180.000000,92.000000,149.000000
50%,2004.000000,2560.000000,2048.000000,4.000000,36.000000,108.000000,50.000000,6.000000,16.000000,230.000000,102.000000,199.000000
75%,2006.000000,3072.000000,2560.000000,7.000000,38.000000,117.000000,60.000000,10.000000,24.000000,350.000000,116.000000,399.000000
max,2007.000000,5616.000000,4992.000000,21.000000,52.000000,518.000000,120.000000,85.000000,450.000000,1860.000000,240.000000,7999.000000

In [4]:
df= df.replace('', "NaN")
df.isnull().sum()

Model                        0
Release date                 0
Max resolution               1
Low resolution              54
Effective pixels             0
Zoom wide (W)               85
Zoom tele (T)                0
Normal focus range           0
Macro focus range            1
Storage included           125
Weight (inc. batteries)     23
Dimensions                  16
Price                        0
dtype: int64

In [7]:
df['Max resolution'] =df['Max resolution'].fillna(df['Max resolution'].median())
df['Low resolution'] = df['Low resolution'].fillna(df['Low resolution'].median())
df['Storage included']= df['Storage included'].fillna(df['Storage included'].median())
df['Weight (inc. batteries)'] = df['Weight (inc. batteries)'].fillna(df['Weight (inc. batteries)'].median())
df['Dimensions'] = df['Dimensions'].fillna(df['Dimensions'].median())
df['Zoom wide (W)'] = df['Zoom wide (W)'].fillna(df['Zoom wide (W)'].median())
df['Macro focus range'] = df['Macro focus range'].fillna(df['Macro focus range'].median())

df.isnull().sum()

Model                      0
Release date               0
Max resolution             0
Low resolution             0
Effective pixels           0
Zoom wide (W)              0
Zoom tele (T)              0
Normal focus range         0
Macro focus range          0
Storage included           0
Weight (inc. batteries)    0
Dimensions                 0
Price                      0
dtype: int64

In [8]:
df['Discounted_Price'] = df['Price'] *0.95

In [9]:
df = df.drop(['Zoom tele (T)' , 'Macro focus range'] , axis =1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model                    1038 non-null   object
 1   Release date             1038 non-null   int64
 2   Max resolution           1038 non-null   float64
 3   Low resolution           1038 non-null   float64
 4   Effective pixels         1038 non-null   int64
 5   Zoom wide (W)            1038 non-null   float64
 6   Normal focus range       1038 non-null   int64
 7   Storage included         1038 non-null   float64
 8   Weight (inc. batteries)  1038 non-null   float64
 9   Dimensions               1038 non-null   float64
 10  Price                    1038 non-null   int64
 11  Discounted_Price         1038 non-null   float64
dtypes: float64(7), int64(4), object(1)
memory usage: 97.4+ KB

In [18]:
df1= df
df1['Model'].replace('Agfa ePhoto CL50' , 'Agfa ePhoto CL250', inplace=True)
df1[df1['Model'] == 'Agfa ePhoto CL250']

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Normal focus range,Storage included,Weight (inc. batteries),Dimensions,Price,Discounted_Price
6,Agfa ePhoto CL250,1999,1280.0,640.0,1,34.0,0,8.0,230.0,102.0,179,170.05

In [23]:
df1= df1.rename(columns={'Release Date' : 'Release Year'} , inplace=True)

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model                    1038 non-null   object
 1   Release date             1038 non-null   int64
 2   Max resolution           1038 non-null   float64
 3   Low resolution           1038 non-null   float64
 4   Effective pixels         1038 non-null   int64
 5   Zoom wide (W)            1038 non-null   float64
 6   Normal focus range       1038 non-null   int64
 7   Storage included         1038 non-null   float64
 8   Weight (inc. batteries)  1038 non-null   float64
 9   Dimensions               1038 non-null   float64
 10  Price                    1038 non-null   int64
 11  Discounted_Price         1038 non-null   float64
dtypes: float64(7), int64(4), object(1)
memory usage: 97.4+ KB

In [26]:
df2 = df1[df1['Price'] == df1['Price'].max() ]
df2[['Model', 'Price' ]]

                     Model  Price
52           Canon EOS-1Ds   7999
53   Canon EOS-1Ds Mark II   7999
54  Canon EOS-1Ds Mark III   7999

In [27]:
df_least_weight_camera = df1[df1['Weight (inc. batteries)'] == df1['Weight (inc. batteries)'].min()]
df_least_weight_camera[['Model', 'Weight (inc. batteries)']]

                   Model  Weight (inc. batteries)
126  Casio Exilim EX-S20                    100.0

In [28]:
New_df = df1[['Model' , 'Storage included' , 'Price' , 'Discounted_Price' , 'Dimensions']]
New_df

,Model,Storage included,Price,Discounted_Price,Dimensions
0,Agfa ePhoto 1280,4.0,179,170.05,95.0
1,Agfa ePhoto 1680,4.0,179,170.05,158.0
2,Agfa ePhoto CL18,2.0,179,170.05,102.0
3,Agfa ePhoto CL30,4.0,269,255.55,102.0
4,Agfa ePhoto CL30 Clik!,40.0,1299,1234.05,128.0
...,...,...,...,...,...
1033,Toshiba PDR-M65,8.0,62,58.90,120.0
1034,Toshiba PDR-M70,16.0,62,58.90,116.0
1035,Toshiba PDR-M71,8.0,62,58.90,107.0
1036,Toshiba PDR-M81,16.0,62,58.90,107.0
1037,Toshiba PDR-T10,8.0,129,122.55,86.0

In [33]:
df_2005_2006 = df1[df1['Release date'].isin([2006,2005])] 
df_2005_2006

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Normal focus range,Storage included,Weight (inc. batteries),Dimensions,Price,Discounted_Price
18,Canon PowerShot A410,2005,2048.0,1600.0,3,41.0,0,16.0,195.0,103.0,139,132.05
19,Canon PowerShot A420,2006,2272.0,1600.0,4,39.0,47,16.0,200.0,103.0,139,132.05
20,Canon PowerShot A430,2006,2272.0,1600.0,4,39.0,47,16.0,210.0,103.0,139,132.05
25,Canon PowerShot A510,2005,2048.0,1600.0,3,35.0,0,16.0,230.0,91.0,139,132.05
26,Canon PowerShot A520,2005,2272.0,1600.0,3,35.0,0,16.0,230.0,91.0,149,141.55
...,...,...,...,...,...,...,...,...,...,...,...,...
997,Sony DSC-W5,2005,2592.0,2048.0,5,38.0,50,32.0,250.0,91.0,429,407.55
998,Sony DSC-W50,2006,2816.0,2048.0,6,38.0,50,32.0,157.0,89.0,149,141.55
1000,Sony DSC-W7,2005,3072.0,2592.0,7,38.0,50,32.0,250.0,91.0,149,141.55
1001,Sony DSC-W70,2006,3072.0,2592.0,7,38.0,50,58.0,157.0,89.0,149,141.55
1004,Sony DSLR-A100,2006,3872.0,3896.0,10,36.0,0,16.0,638.0,133.0,599,569.05

In [42]:
df_2007 = df1[df1['Release date'] == 2007]
df_cheap_2007 = df_2007[df_2007['Price'] == df_2007['Price'].min()]
dff11 = df_cheap_2007[['Model' , "Price"]].drop_duplicates()
dff11

                 Model  Price
516  Nikon Coolpix L10     99
517  Nikon Coolpix L11     99
518  Nikon Coolpix L12     99
820    Ricoh Caplio R6     99
821    Ricoh Caplio R7     99
864       Samsung L730     99
867       Samsung L830     99
878       Samsung S630     99
879       Samsung S730     99
880       Samsung S830     99

In [49]:
new_grouped_data = df1.groupby(by='Release date')['Model'].count()
new_grouped_data_1 = new_grouped_data.reset_index()
df111 = new_grouped_data_1 [new_grouped_data_1['Model'] == new_grouped_data_1['Model'].max()]
df111['Release date']

13    2007
Name: Release date, dtype: int64